// Variables
$font-stack: 'Montserrat', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$primary-color: #171324;


// Mixins
@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

// Global
body {
    font-family: $font-stack;
    font-weight: $font-regular;
    color: $primary-color;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

// Canvas


// Controls
#controls {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 1s ease transform;
}

.controls-hidden {
    transform: translateX(-100%)
}

#hide-controls {
    position: absolute;
    right: 0;
    top: 2px;
    transform: translateX(50%);
    color: #FFFFFF;
    font-weight: $font-light;
    font-size: 14px;
    background-color: rgba(95, 83, 204, 1);
    outline: 3px solid rgba(95, 83, 204, 0.9);
    padding: 8px;
    cursor: pointer;
}

#hide-controls:hover {
    opacity: 0.95;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    label {
        font-weight: $font-semi-bold;
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    input {
        width: 100%;
        border: none;
        text-align: center;
    }
    input:hover {
        cursor: pointer;
    }
}

#background-color-container {
    flex-grow: 0;
    border: none;
    input {
        height: 100px;
    }
}

.slider-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    input {
        width: 80%;
        margin: 2px 5px 10px 5px;
    }
    p {
        width: 30px;
    }
}

#slider-line-speed, #slider-rectangle-speed, #slider-circle-speed {
    direction: rtl;
}

.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-semi-bold;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 3px solid rgba(177, 177, 177, 0.8);
}

.control-button:hover{
    background-color: rgba(95, 83, 204, 0.2);
}

.active-button {
    background-color: rgba(95, 83, 204, 0.8);
    border: 3px solid rgba(95, 83, 204, 0.8);
    color: #FFFFFF;
}

.active-button:hover{
    background-color: rgba(95, 83, 204, 0.8);
}

#background-color-warning {
    font-size: 12px;
    padding: 5px 0;
    color: #a50000;
}

#background-color-label {
    margin: 5px 0 0 0;
}

// Modifiers
.hidden {
    display: none;
}

.hidden-opacity {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      -webkit-appearance: none;
      background-color: rgba(95, 83, 204, 0.8);
      outline: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: rgba(95, 83, 204, 0.8);
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      margin-top: -7.5px;
      height: 30px;
      cursor: ew-resize;
      background: #000000;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgba(95, 83, 204, 0.8); 
}
input[type="range"]::-moz-range-track {  
  background-color: rgba(95, 83, 204, 0.8);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(95, 83, 204, 0.8); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: rgba(95, 83, 204, 0.8);
}