body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #171324;
  overflow: hidden; }

html {
  scroll-behavior: smooth; }

#controls {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: 1s ease transform; }

.controls-hidden {
  transform: translateX(-100%); }

#hide-controls {
  position: absolute;
  right: 0;
  top: 2px;
  transform: translateX(50%);
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  background-color: #5f53cc;
  outline: 3px solid rgba(95, 83, 204, 0.9);
  padding: 8px;
  cursor: pointer; }

#hide-controls:hover {
  opacity: 0.95; }

.control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; }
  .control-container label {
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 10px 0; }
  .control-container input {
    width: 100%;
    border: none;
    text-align: center; }
  .control-container input:hover {
    cursor: pointer; }

#background-color-container {
  flex-grow: 0;
  border: none; }
  #background-color-container input {
    height: 100px; }

#line-color-container, #rectangle-color-container, #circle-color-container {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0; }
  #line-color-container label, #rectangle-color-container label, #circle-color-container label {
    margin: 0 0 0 8px;
    font-size: 14px;
    width: 120px; }
  #line-color-container .jscolor, #rectangle-color-container .jscolor, #circle-color-container .jscolor {
    width: 45px;
    height: 35px;
    font-size: 11px;
    margin-right: 10px; }

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .checkbox-container input {
    margin: 0 5px 0 10px;
    padding: 0;
    width: 20px;
    height: 20px; }
  .checkbox-container label {
    margin: 0;
    text-align: left;
    font-size: 12px !important; }

.slider-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); }
  .slider-container input {
    width: 80%;
    margin: 2px 5px 10px 5px; }
  .slider-container p {
    width: 30px; }

#slider-line-speed, #slider-rectangle-speed, #slider-circle-speed {
  direction: rtl; }

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 3px solid rgba(177, 177, 177, 0.8); }

.control-button:hover {
  background-color: rgba(95, 83, 204, 0.2); }

.active-button {
  background-color: rgba(95, 83, 204, 0.8);
  border: 3px solid rgba(95, 83, 204, 0.8);
  color: #FFFFFF; }

.active-button:hover {
  background-color: rgba(95, 83, 204, 0.8); }

#background-color-warning {
  font-size: 12px;
  padding: 5px 0;
  color: #a50000; }

#background-color-label {
  margin: 5px 0 0 0; }

#btn-download {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(95, 83, 204, 0.8);
  border: 3px solid rgba(95, 83, 204, 0.3);
  text-align: center;
  padding: 10px;
  margin: 5px; }

#btn-download:hover {
  opacity: 0.9; }

.hidden {
  display: none; }

.hidden-opacity {
  opacity: 0; }

.pointer {
  cursor: pointer; }

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: rgba(95, 83, 204, 0.8);
    outline: none; }
  input[type='range']::-webkit-slider-runnable-track {
    height: 15px;
    -webkit-appearance: none;
    color: rgba(95, 83, 204, 0.8); }
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    margin-top: -7.5px;
    height: 30px;
    cursor: ew-resize;
    background: #000000; } }

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgba(95, 83, 204, 0.8); }

input[type="range"]::-moz-range-track {
  background-color: rgba(95, 83, 204, 0.8); }

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(95, 83, 204, 0.8); }

input[type="range"]::-ms-fill-upper {
  background-color: rgba(95, 83, 204, 0.8); }
